<h1>Edit Restaurant Here</h1>

<form action="/restaurants/<%= @restaurant.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name: <input type="text" name="name" value ="<%= @restaurant.name %>">
  Options: <input type="text" name="options" value="<%= @restaurant.options %>">
  Source: <input type="text" name="source" value="<%= @restaurant.source %>">
  Image_url: <input type="text" name="image_url" value ="<%= @restaurant.image_url %>">
  <input type=submit>
</form>