<h1>All Restaurants</h1>
<% @restaurants.each do |restaurant| %>
    <h3><a href="/restaurants/<%= restaurant.id %>"><%=restaurant.name %></a></h3>
    <img src="<%= restaurant.image_url %>" alt="<%= restaurant.name %>" height="200" width="270">
    <br><br>
    <p><strong>Options:</strong> <%= restaurant.options %></p>
    <p><strong>Source:</strong> <%= restaurant.source %></p><br>
    <% end %>